<h1>アカウント</h1>

<%= attachment_image_tag $user, :profile_image, fallback: "no-image.png" %>
<p>email</p>
<%= $user.email %><br/>
<p>passwaord</p>
<%= $user.encrypted_password%>

<%= link_to "編集", edit_user_registration_path %>

<%= link_to "プロフィール",profile_path %>

