<h1>Rooms#new</h1>
<p>Find me in app/views/rooms/new.html.erb</p>

<%= form_for @room do |f| %>
  <%= f.label :roomname%>
	<%= f.text_field :roomname%>

	<%= f.label :introduction%>
	<%= f.text_area :introduction%>

	<%= f.label :price%>
	<%= f.text_field :price%>

	<%= f.label :address%>
	<%= f.text_field :address%>
	
	<%= f.submit "保存"%>

<% end %>