<h1>Rooms#new</h1>
<p>Find me in app/views/rooms/new.html.erb</p>

<%= form_with model: $room do |f| %>
  <%= f.label :施設名%>
	<%= f.text_field :roomname%>

	<%= f.label :紹介文%>
	<%= f.text_area :introduction%>

	<%= f.label :料金%>
	<%= f.text_field :price%>

	<%= f.label :住所%>
	<%= f.text_field :address%>

	<div class="field">
	<%= f.label :画像 %>
	<%= f.file_field :room_image %>
  	</div>
	
	<%= f.submit "保存"%>

<% end %>